/* parallax */
.parallax {
    background: linear-gradient(-.65turn, var(--primary-1), var(--primary-2));
    background-size: 300vw;
    animation: radiance 16s linear infinite;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
}

/* navbar */
.navbar {
    background: rgba(0,0,0,.1);
    font-family: 'Azeret Mono', 'Sans-Serif';
    padding-top: 0;
    padding-bottom: 0;
    position: sticky;
    z-index: 99999;
    top: 0;
    backdrop-filter: blur(3px);
    transition: all .4s ease-out;
}
.slide {
    --wid: -38px;
    transform: translateY(var(--wid));
    transition: all .35s ease-out;
}
.slide .login, .slide .logged-in {
    opacity: 0;
    transition: all .35s ease-out;
}
.slide .nav-link {
		color: transparent;
		transition: all .35s ease-out;
}
.slide:hover {
    transform: translateY(0);
}
.slide:hover * {
    opacity: 1;
    transition: all .4s ease-out;
}
.navbar .nav {
    gap: 5px;
}
.navbar .nav-item {
    letter-spacing: 1px;
    border-bottom: 2px transparent solid;
    border-image-slice: 9 !important;
}
.navbar .nav-item:hover, .slide .nav-item:focus-visible {
    animation: border-anim .3s forwards;
}
.navbar .nav-item.active {
    border-image: linear-gradient(90deg, transparent 39%, #fff 40%, #fff 60%, transparent 61%);
}
.navbar .nav-item.nav-link {
		color: #fff;
		text-decoration: none;
}
.nav, .login, logged-in {
		margin: 6px 0;
}
.login {
    border-radius: 50px;
    border: 3px solid #fff;
    margin: 6px 0;
    transition: all .3s ease-out;
    text-decoration: none !important;
}
.login p {
    padding: .3em .7em;
    color: #faf6f6;
    font-family: 'Azeret Mono';
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .4s ease-out;
	margin: 0;
}
.login:hover {
    background: #faf6f6;
    transition: all .3s ease-out;
}
.login:hover p {
    background: linear-gradient(to left, var(--primary-3), var(--primary-1));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    transition: all .4s ease-out;
    font-weight: bolder;
}
.logged-in {
    border: 2px #ffffff10 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 0;
    transition: all .2s ease-out;
}
.logged-in .body {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.logged-in .body img {
    max-width: 40px;
    background: none;
    border: none;
}
.logged-in .body div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    transform-origin: left;
    margin-right: 6px;
}
.logged-in .body div p:first-child {
    color: #fff;
    margin: 0;
    padding: 0;
}
.logged-in .body div p:last-child {
    color: #ffffffa9;
    margin: 0;
    padding: 0;
}
.logged-in .dropdown {
    opacity: 0;
    margin-top: 5px;
    top: 100%;
    position: absolute;
    background: #0000008a;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s ease-out;
    pointer-events: none;
}
.logged-in .dropdown a {
    color: red;
    text-decoration: none;
    font-size: 1.2em;
    padding: 3px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
		font-weight: bold;
}
.logged-in:hover {
    border-color: #faf6f6d2;
    background: #0000002d;
    transition: border-color .3s ease-out, background .2s linear;
}
.logged-in:hover .dropdown {
    opacity: 1;
    transition: opacity .3s ease-out;
    pointer-events: all;
}
.logged-in .dropdown a:hover {
    background: red;
    color: #fff;
		font-weight: initial;
    transition: all .3s linear;
}
.logged-in .dropdown::before {
    content: '';
    position: absolute;
    top: -8px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid #0000008a;
}

/* breahdcrumbs */
.navigation {
    background: none;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    opacity: .8;
}
.navigation a {
    color: #fff !important;
}
.navigation li {
    color: #faf6f6 !important;
}

/* main styles */
* {
    cursor: var(--cursor), auto !important;
}
#main {
    margin-top: 5%;
    padding: 0 2rem;
}
section {
    min-height: 10em;
    max-width: 100%;
    display: flex;
    margin-bottom: 6em;
}
.heading {
    user-select: none;
    -ms-touch-select: none;
    font-size: 4em;
    margin-bottom: .8em;
    font-family: 'Azeret Mono', 'Sans-Serif';
    color: #fff;
    opacity: .6;
}
.heading.even {
    text-align: right;
}
.heading.odd {
    text-align: left;
}
.section-divider {
    height: 2px;
    background-color: #fff;
    max-width: 80%;
    display: grid;
}
.section-divider.odd {
    margin-left: 20%;
}
.section-divider.even {
    margin-right: 20%;
}

/* graphs */
.graph-section {
    justify-content: space-between;
}
.graphs {
    display: grid;
    place-items: center;
    column-gap: 4em;
    row-gap: 2em;
    max-width: 100%;
    min-height: 100%;
    z-index: 3;
    grid-template-columns: 1fr 1fr;
}
.graph-1, .graph-2, .graph-3, .graph-4 {
    display: grid;
    place-items: end;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 10px 8px 20px rgba(0, 0, 0, .7);
    border-left: 1px #ffffff38 solid;
    border-top: 1px #ffffff21 solid;
}
.graph-1 {
    /* --bg: url("/bgs/bg-1.png"); */
    /* background: var(--bg); */
    background-size: cover;
    background-repeat: no-repeat;
}
.graph-2 {
    /* --bg: url("/bgs/bg-2.png"); */
    /* background: var(--bg); */
    background-size: cover;
    background-repeat: no-repeat;
}
.graph-3 {
    /* --bg: url("/bgs/bg-3.png");
    background: var(--bg); */
    background-size: cover;
    background-repeat: no-repeat;
}
.graph-4 {
    /* --bg: url("/bgs/bg-4.png");
    background: var(--bg); */
    background-size: cover;
    background-repeat: no-repeat;
}
.graph-1 div, .graph-2 div, .graph-3 div, .graph-4 div {
    padding: 0 20px 20px 0
}
.graph-1 div *, .graph-2 div *, .graph-3 div *, .graph-4 div * {
    margin: 0;
    padding: 0;
}
.graph-1 h2, .graph-2 h2, .graph-3 h2, .graph-4 h2 {
    text-align: right;
    color: #fff;
    font-size: calc(2vmax * 2);
}
.graph-1 p, .graph-2 p, .graph-3 p, .graph-4 p {
    color: #fff;
    transform-origin: bottom right;
    text-align: right;
    border-top: 1px #fff solid;
    text-indent: 5px;
}
.graph-1 p, .graph-2 p, .graph-3 p, .graph-4 p {
    padding-top: 2px;
    margin-top: 5px;
    transform: scale(0);
    transition: all .25s linear;
}
.graph-1:not(:hover) p, .graph-2:not(:hover) p, .graph-3:not(:hover) p, .graph-4:not(:hover) p {
    height: 0;
}
.graph-1:hover p, .graph-2:hover p, .graph-3:hover p, .graph-4:hover p {
    transform: scale(1);
    transition: all .25s linear;
}

/* tip */
.tip {
    transform: translateY(-10em);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.tip .arrow {
    display: grid;
    max-width: 14em;
}
.tip .arrow img:last-child {
    grid-row: none;
    max-width: 35%;
    position: absolute;
    place-self: end;
}
.tip .arrow img:first-child {
    grid-row: none;
    max-width: 100%;
    transform: rotate(175deg);
    filter: invert(1) opacity(.8);
}
.tip-text {
    margin-top: 1em;
    font-size: 2.5em;
    letter-spacing: 1px;
    font-family: 'Licorice';
    color: #ffffffbb;
    transform: rotate(-5deg);
}

/* about section */
.about-section {
	justify-content: space-around;
}
.about {
    flex-direction: row;
    color: #fff !important;
    font-family: 'Kaushan Script';
    letter-spacing: 2px;
}
.about a {
    color: #fff !important;
    text-decoration: underline 2px;
}
.about a:hover {
    background: rgba(255, 255, 255, 0.185);
    border-radius: 5px;
    transition: background .4s ease-in;
}
img.fluid-logo {
    width: 400px;
    height: 400px;
}
.about ul {
    list-style: none;
    /* list-style-image: url('/chibis/chibi-bullet.png'); */
}
.about {
    max-width: 50ch;
    font-size: 25px;
    flex-direction: column;
    grid-row: none;
}
.about li {
    font-size: 20px;
}
.about p {
    margin: 20px 0;
}
/* link hover */
.link-hover {
    display: inline-flex;
}
.link-hover .links {
    padding: 1rem;
    pointer-events: none;
    position: absolute;
    max-width: max-content;
    min-height: 1px;
    background:rgba(0, 0, 0, .3);
    backdrop-filter: blur(2px);
    border-radius: 6px;
    opacity: 0;
    transform: translate(30px, -80%);
    transition: opacity .2s ease-out;
}
.link-hover:hover .links {
    opacity: 1;
    transition: opacity .2s ease-out;
    pointer-events: all;
}
.link-hover .links .discord-card {
    display: flex;
    gap: .8rem;
}
.link-hover .links .discord-card img {
    border-radius: 50% !important;
}
.link-hover .links .discord-card .discord-card-body {
    display: inline-flex;
    flex-direction: column;
}
.link-hover .links .discord-card .discord-card-body h4 {
    font-size: 1.3rem;
}
.link-hover .links .discord-card .discord-card-body .status {
    font-size: .8rem;
}

/* commands section */
.commands-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3em;
    column-gap: 5em;
}
.commands-section .block {
    display: flex;
    flex: 100% 1 1;
    border-radius: 10px;
    padding: 1.125rem;
    box-shadow: 6px 8px 20px rgba(0, 0, 0, .3);
    transition: all .4s ease-out;
}
.commands-section .block .block-card {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.commands-section .block * {
    display: inline-flex;
}
.commands-section .block .quote-block {
    width: 2.5px;
    min-height: 1px;
    background: #ffffffa4;
    margin-right: 4px;
    border-radius: 1ex;
    transition: background .3s ease-in-out;
}
.commands-section .block .block-card .block-card-title-section {
    padding: .8rem 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    transition: color .4s ease-in;
}
.commands-section .block .block-card .block-card-title-section a {
    color: #ffffffe1;
    text-decoration: none;
}
.commands-section .block .block-card .block-card-title {
    font-size: 2em !important;
    margin: 0 0 .2rem 0;
}
.commands-section .block .block-card .block-card-aliases {
    color: #ffffffc0;
    font-weight: 400;
    margin: 0;
}
.commands-section .block .block-card .block-card-title-section div {
    margin: 0 .5ch;
    font-weight: 200;
    color: #ccc;
}
.commands-section .block .block-body {
    display: flex;
}
.commands-section .block .block-body p {
    margin: 0;
}
.commands-section .block .block-body .block-card-body-section {
    padding: .5rem;
    flex-direction: column;
}
.commands-section .block .block-body p {
    margin: 0
}
.commands-section .block .block-body .block-card-body-section .block-card-description {
    color: #fff;
    font-size: 20px;
    margin-bottom: 0.4em;
}
.commands-section .block .block-body .block-card-body-section strong {
    color: #cccccc;
    margin-right: 4px;
}
.commands-section .block .block-body .block-card-body-section p:last-child {
    color: #ffffffe1;
    transition: color .4s ease-in;
}
.block:hover {
    animation: glass .08s linear forwards;
    box-shadow: 6px 8px 20px var(--clr-shadow);
    transform: translateY(-6px);
    transition: all .4s ease-out;
}
.block:not(:hover) {
    animation: glass-over .1s linear forwards;
}
.block-card-body-section p:last-child:hover,
.block-card-title-section a:hover {
    color: #ffbbc4 !important;
    transition: color .4s ease-in;
}
.block:hover .quote-block {
    background: var(--secondary-1);
    transition: background .3s ease-in-out;
}

/* server picker */
.servers-section {
		--fix-width: 12em;
		display: grid;
		grid-template-columns: repeat(4,1fr);
		gap: 4vmin;
		justify-content: center;
}
.server-card {
		display: flex;
		max-width: fit-content;
}
.server-card .server-block-card {
		position: relative;
		display: grid;
		justify-content: center;
		background-color: rgba(0,0,0,0.6);
		padding: 4px;
		border-radius: 15px;
		overflow: hidden;
		color: #fff;
		text-decoration: none !important;
		box-shadow: 10px 14px 16px 2px rgb(0 0 0 / 40%);
		transition: 500ms ease-in-out;
}
.server-card .server-block-card .server-block-card-title-section {
		position: absolute;
		place-self: end center;
		display: grid;
		width: 100%;
		padding: 0 20px;
		background-color: rgba(0,0,0,.6);
		justify-content: center;
		border-radius: 0 0 15px 15px;
}
.server-card .server-block-card .server-block-card-title-section .server-block-card-title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: .3em 0 .4em 0;
		font-size: 3vmin;
		text-align: center;
}
.server-card .server-block-card img {
		background-color: rgba(0,0,0,.2);
		max-width: var(--fix-width);
		min-width: var(--fix-width);
		max-height: var(--fix-width);
		scale: 1;
		border-radius: 10px;
}
.server-block-card:hover {
		transform: translateY(-10px);
		box-shadow: 10px 14px 12px 2px rgb(0 0 0 / 50%);
		transition: 500ms ease-in-out;
}

/* server nav */
.server-navigation {
		position: sticky;
		top: 10%;
		background: none;
		backdrop-filter: none;
}
.server-navigation .nav {
		background: rgba(0,0,0,.1);
		padding: 0 1em;
		backdrop-filter: blur(2px);
		border-radius: 50px;
}
.server-navigation .nav-item {
		margin: .5em 0;
}

/* animation */
@keyframes radiance {
    0%, 100% {
        background-position: 0%;
    }
    25% {
        background-position: 50%
    }
    50% {
        background-position: 100%;
    }
}
@keyframes border-anim {
    0% {
        border-image: linear-gradient(90deg, transparent 39%, #fff 40%, #fff 60%, transparent 61%);
    }
    10% {
        border-image: linear-gradient(90deg, transparent 34%, #fff 35%, #fff 65%, transparent 66%);
    }
    20% {
        border-image: linear-gradient(90deg, transparent 29%, #fff 30%, #fff 70%, transparent 71%);
    }
    30% {
        border-image: linear-gradient(90deg, transparent 24%, #fff 25%, #fff 75%, transparent 76%);
    }
    40% {
        border-image: linear-gradient(90deg, transparent 19%, #fff 20%, #fff 80%, transparent 81%);
    }
    50% {
        border-image: linear-gradient(90deg, transparent 14%, #fff 15%, #fff 85%, transparent 86%);
    }
    60% {
        border-image: linear-gradient(90deg, transparent 9%, #fff 10%, #fff 90%, transparent 91%);
    }
    70% {
        border-image: linear-gradient(90deg, transparent 14%, #fff 15%, #fff 85%, transparent 86%);
    }
    80% {
        border-image: linear-gradient(90deg, transparent 19%, #fff 20%, #fff 80%, transparent 81%);
    }
    90% {
        border-image: linear-gradient(90deg, transparent 24%, #fff 25%, #fff 75%, transparent 76%);
    }
    100% {
        border-image: linear-gradient(90deg, transparent 29%, #fff 30%, #fff 70%, transparent 71%);
    }
}
@keyframes glass {
    0% {
        background: var(--clr-glass);
    }
    20% {
        background: linear-gradient(34deg, #ffffff14 49.5%, #ffffff4f 50%, #ffffff33 40%)
    }
    40% {
        background: linear-gradient(38deg, #ffffff14 49.5%, #ffffff4f 50%, #ffffff33 40%);
    }
    60% {
        background: linear-gradient(42deg, #ffffff14 49.5%, #ffffff4f 50%, #ffffff33 40%);
    }
    80% {
        background: linear-gradient(44deg, #ffffff14 49.5%, #ffffff4f 50%, #ffffff33 40%);
    }
    100% {
        background: linear-gradient(48deg, #ffffff14 49.5%, #ffffff4f 50%, #ffffff33 40%);
    }
}
@keyframes glass-over {
    0% {
        background: linear-gradient(48deg, #ffffff14 49.5%, #ffffff4f 50%, #ffffff33 40%)
    }
    25% {
        background: linear-gradient(44deg, #ffffff14 49.5%, #ffffff4f 50%, #ffffff33 40%)
    }
    50% {
        background: linear-gradient(38deg, #ffffff14 49.5%, #ffffff4f 50%, #ffffff33 40%);
    }
    75% {
        background: linear-gradient(34deg, #ffffff14 49.5%, #ffffff4f 50%, #ffffff33 40%);
    }
    100% {
        background: linear-gradient(30deg, #ffffff14 49.5%, #ffffff4f 50%, #ffffff33 40%);
    }
}

/* media queries */
@media (max-width: 700px) {
    /* navbar */
    .navbar {
        transform: translate(0) !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .navbar * {
        opacity: 1 !important;
    }
    .navbar .nav {
        justify-content: center !important;
    }

    /* sections */
    .graphs, .commands-section, .servers-section {
        grid-template-columns: 1fr;
    }
		.servers-section {
			justify-content: center;
		}
    .about-section {
        flex-direction: column;
    }
    .graph-1 *, .graph-2 *, .graph-3 *, .graph-4 * {
        transform: scale(1) !important;
        height: revert !important;
    }
}